{{ define "main" }}

{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}
<section class="pt-4">
  <div class="container">
    {{ partial "posts-carousel.html" (dict "tags" (slice "featured") "pages" .Site.RegularPages) }}
  </div>
</section>
<section class="pt-4">
  <div class="container">
        {{ partial "posts-grid.html" . }}
  </div>
</section>
<section class="pt-4">
  <div class="container">
    {{ partial "posts-tabs.html" (dict "categories" (slice "syntax" "test") "pages" .) }}
  </div>
</section>
{{ end }}