<aside class="menu my-5 mx-3">
    <p class="menu-label has-text-white is-size-6 has-text-weight-bold">Featured categories</p>
    <ul class="menu-list">
        {{ range first 5 .Site.Taxonomies.categories.ByCount }}
        <li><a class="has-background-none has-text-grey-light px-0 py-2"
                href="/categories/{{ (replace .Name " #" "%23" ) | urlize }}/">{{ .Name }} <span
                    class="tag is-pulled-right">{{ .Count }}</span></a></li>
        {{ end }}
    </ul>
</aside>