<aside class="menu my-5 mx-3">
<p class="menu-label has-text-white is-size-6 has-text-weight-bold">Featured articles</p>
<!-- post-item -->

{{ range first 5 (where (where .Site.RegularPages "Type" "posts") ".Params.featured" "=" true ) }}
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}

    <article class="media my-3">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="{{ .RelPermalink }}{{ .Params.Image }}" alt="Featured image of {{ .Title }}"/>
            </p>
        </figure>
        <div class="media-content">
            <a href="{{ .RelPermalink }}" class="title is-6 has-text-light">{{ .Title }}</a>
            <p class="subtitle is-6 tags has-text-grey-light"><time class="published" datetime="{{ $dateMachine }}"> {{ $dateHuman }} </time></p>
        </div>
    </article>
{{ end }}
</aside>