{{ with site.Menus.main }}
    {{ range . }}
      {{ if $.IsMenuCurrent .Menu . }}
        <a class="navbar-item is-active" aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
      {{ else if $.HasMenuCurrent .Menu . }}
        {{/*  <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{ .Name }}
          </a>
          <div class="navbar-dropdown">
            
          </div>
        </div>  */}}
      {{ else }}
        <a class="navbar-item" href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    {{ end }}
{{ end }}