<div class="card mb-3">
    <div class="row g-3">
        <div class="col-4">
            <img loading="lazy" class="rounded ratio ratio-4x3"
                src=""
                alt="">
        </div>
        <div class="col-8">
            <h2 class="card-title">
                <span class="placeholder col-6"></span>
            </h2>
            <p class="card-text">
                <span class="placeholder placeholder-xs col-7"></span>
                <span class="placeholder placeholder-xs col-4"></span>
                <span class="placeholder placeholder-xs col-4"></span>
                <span class="placeholder placeholder-xs col-6"></span>
                <span class="placeholder placeholder-xs col-8"></span>
                <span class="placeholder placeholder-xs col-7"></span>
                <span class="placeholder placeholder-xs col-4"></span>
                <span class="placeholder placeholder-xs col-4"></span>
                <span class="placeholder placeholder-xs col-6"></span>
              </p>
        </div>
    </div>
</div>