<div class="row row-cols-1 row-cols-md-2 g-4">
    {{ range first 6 (where .Site.RegularPages "Type" "posts") }}
    <div class="col">
        <div class="card h-100">
            <img loading="lazy" src="{{ .RelPermalink }}{{ .Params.Image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="{{ .RelPermalink }}" class="btn-link text-reset fw-bold"><h5 class="card-title">{{ .Title }}</h5></a>
                <p class="card-text mb-5">{{ .Summary }}</p>
            </div>
        </div>
    </div>
    {{ end }}
</div>