{{- $page := .pages }}
{{- $tags := .tags }}

{{ $p := (where $page "Type" "posts") }}
{{ $p = where $p "Params.tags" "intersect" $tags }}

{{ $firstIndicator := "active" }}
{{ $firstCard := "active" }}
{{ $ariaCurrentIndicator := "true" }}
{{ $slideToIndicator := 0 }}
<div id="carouselExampleCaptions" class="carousel slide shadow">
    <div class="carousel-indicators">
        {{ range first 4 $p }}
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ $slideToIndicator }}" class="{{ $firstIndicator }}" aria-current="{{ $ariaCurrentIndicator}}" aria-label="{{ .Title }}"></button>
            {{ $firstIndicator = "" }}
            {{ $ariaCurrentIndicator = "false" }}
            {{ $slideToIndicator =  add $slideToIndicator 1 }}
        {{ end }}
    </div>
    <div class="carousel-inner">
        {{ range first 4 $p }}
        <div class="carousel-item {{ $firstCard }}">
            <img loading="lazy" src="{{ .RelPermalink }}{{ .Params.Image }}" class="d-block w-100 rounded" alt="...">
            <div class="carousel-caption d-none d-md-block">
                {{ range .Params.categories }}
                    <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="badge text-bg-danger mb-2"><i
                    class="fas fa-circle me-2 small fw-bold"></i>{{ . }} </a>
                {{ end }}
                <h5>
                <a href="{{ .RelPermalink }}" class="btn-link text-reset fw-bold" style="text-shadow: 1px 1px 2px black;">{{ .Title }}</a>
                </h5>
                <p style="text-shadow: 1px 1px 2px black;">{{ .Summary }}</p>
            </div>
        </div>
        {{ $firstCard = "" }}
        {{ end }}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>