{{/*
<!-- Search -->
<div class="widget">
   <h3 class="h5 widget-title"><span>Search</span></h3>
   <form action="/search" class="widget-search">
      <input id="search-query" name="q" type="search" placeholder="Type &amp; Hit Enter...">
      <button type="submit" title="Search" area-label="Search"><i class="ti-search"></i></button>
   </form>
</div>
*/}}
<!-- categories -->
{{ range $key, $value := .Site.Taxonomies }}
<div class="mb-3">
   <h3 class="h5"><span class="text-capitalize">{{ $key }}</span></h3>
      {{ range first 5 $value.ByCount }}
      <div class="d-flex justify-content-between align-items-center bg-category bg-category-{{ .Name }} bg-opacity-15 rounded p-2 position-relative my-2">
         <h6 class="m-0 text-category text-category-{{ .Name }}">{{ .Name }}</h6>
         <a href="{{ $.Site.BaseURL}}{{ $key }}/{{ (replace .Name "#" "%23" ) | urlize }}/" >
            <span class="badge bg-category bg-category-{{ .Name }} text-light stretched-link">
               {{ .Count }}
         </span>
         </a>
      </div>
      {{ end }}
</div>
{{ end }}
<!-- latest post -->
<div class="widget">
   <h3 class="h5 widget-title"><span>Latest Article</span></h3>
   <!-- post-item -->
   {{ range first 5 (where .Site.RegularPages "Type" "posts") }}
   <div class="card mb-3 border-0">
      <div class="row g-3">
         <div class="col-4">
            <img class="rounded ratio ratio-4x3" src="{{ .RelPermalink }}{{ .Params.Image }}" alt="{{ .Title }}">
         </div>
         <div class="col-8">
            <h6><a href="{{ .Permalink }}" class="btn-link text-reset fw-bold">{{ .Title }}</a></h6>
            <div class="small mt-1">{{ .PublishDate.Format "January 2, 2006" }}</div>
         </div>
      </div>
   </div>
   {{ end }}
</div>